.idea/
*.so
*.c
!vendor/http-parser-2.8.1/*.c
build/
__pycache__
__compiled__
__cache__
dist
vibora.egg-info
.venv

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
